.shimmer-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-evenly;
}
.shimmer-card {
  flex-basis: 350px;
  padding: 10px;
  margin: 10px;
  border-color: #d3d5df;
  box-shadow: 0 4px 7px 0 rgba(206, 208, 220, 0.6);
}
.shimmer-title {
  margin-left: 20px;
  width: 60%;
  margin-top: 10px;
}
.shimmer-tags {
  margin-left: 20px;
  width: 60%;
  margin-top: 4px;
}
.shimmer-actions {
  width: 90%;
  padding: 20px;
  margin-left: 10px;
  margin-top: 10px;
}
.shimmer-img {
  margin-left: 20px;
}
.shimmer-container .shimmer-img {
  height: 164px;
  width: 280px;
}
.stroke {
  height: 15px;
  background: #777;
}
.stroke-color {
  background: #777;
}
.animate {
  animation: shimmer 3s;
  animation-iteration-count: infinite;
  background: linear-gradient(to right, #e6e6e6 5%, #cccccc 25%, #e6e6e6 35%);
  background-size: 1000px 100%;
}
@keyframes shimmer {
  from {
    background-position: -1000px 0;
  }
  to {
    background-position: 1000px 0;
  }
}
